<?php
/**
 * # The MIT License (MIT)
 *
 * Copyright (c) 2015-2017 Antoine Pous <gecko@dvp.io>
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

/**
 * Déclaration des versions du chat
 */
 
// Version en production
$chatProdVersion = '3.0.3';

// Url du chat en production
$chatProdHost = 'chat.developpez.com';

// Version en développement
$chatDevVersion = 'x.x.x-dev';

// Url du chat de développement
$chatDevHost = 'n/a';

/**
 * Configuration des divers paths
 *
 * Il est fortement conseillé de changer les paths et d'opter pour des paths externes au dossier du bot
 * cela évitera les problèmes de perte de fichiers lors de la mise à niveau du bot 
 *
 * Les paths doivent être renseignés sans endslash
 */
 
// Stockage des données mises en cache (sharedData)
// TODO : Remplacer par Redis
$cfg->set('cachePath', $rootPath.'/Cache');

// Emplacement des modules internes
$cfg->set('anomodsPath', $rootPath.'/Anomods');

// Emplacement des modules tiers
$cfg->set('annamodsPath', $rootPath.'/Annamods');

/**
 * Configuration des fonctionalités natives
 */
 
// Temps de pause entre deux refresh, dixième de seconde
$cfg->set('refreshInterval', 5);

// Active l'affichage de message aléatoire lors du /QUIT
$cfg->set('customQuit', true);

// Active l'écoute des commandes /BOT pour les comptes >= au niveau spécifié
$cfg->set('listenCmd', 3);

// Active l'écoute des !bangs pour les comptes >= au niveau spécifié
$cfg->set('listenBang', 3);